<header class="navbar">
  <div class="navbar-left">
    <h1 class="page-title">My Tasks</h1>
  </div>

  <div class="navbar-right">
    <div class="filter-wrapper">
      <button class="filter-btn" (click)="showDropdown = !showDropdown">
        <span class="filter-icon">☰</span>
        Filter: {{ selectedLabel }}
        <span class="chevron">▾</span>
      </button>
      <div class="dropdown" *ngIf="showDropdown">
        <div class="dropdown-item"
             *ngFor="let s of statuses"
             [class.selected]="s.value === selectedStatus"
             (click)="selectStatus(s.value)">
          {{ s.label }}
        </div>
      </div>
    </div>

    <button class="add-task-btn" (click)="addTask.emit()">
      <span>+</span> Add Task
    </button>
  </div>
</header>
